/* ОБНУЛЕННЯ СТИЛІВ */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}

/* -------------------------------------------------- */
/* MAIN STYLES */
header {
	background-color: #3a3f44;
	border: #17191b solid 1px;
	box-sizing: border-box;
	height: 80px;
	display: flex;
	align-items: center;
}
.container {
	width: 90%;
	margin: 0 auto;
}
.nav_menu {
	display: flex;
}
.nav_menu li {
	flex-grow: 1;
	transition: .3s;
}
.nav_menu a {
	text-align: center;
	display: inline-block;
	font-size: 24px;
	width: 100%;
	height: 80px;
	line-height: 80px;
	color: var(--bs-card-cap-color);
	text-transform: uppercase;
}
.nav_menu li:hover {
	background-color: #272b30;
	border-bottom: solid 1px #17191b;
}

/* ACTIVE PAGE */
.active{
	background-color: #272b30;
	box-shadow: inset 0 0 2px #17191b;
}

/* BURGER MENU */
.burger {
	display: none;
}
.burger_menu {
	display: none;
}

/* 1000px and less */
@media screen and (max-width: 1000px) {
	.nav_menu {
		display: none;
	}

	/* BURGER MENU */
	.burger {
		display: flex;
		flex-direction: column;
		align-items: center;
		border: #17191b solid 1px;
		justify-content: center;
		height: 45px;
		width: 55px;
		border-radius: 5px;
		cursor: pointer;
		float: right;
	}
	.burger span {
		display: block;
		height: 3px;
		background-color: #a6a8ab;
		border-radius: 2px;
		width: 40px;
	}
	.burger span:not(:last-child) {
		margin-bottom: 8px;
	}
	.burger_menu.open {
		display: block;
		width: 100vw;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10000;
		background-color: #272b30;
		padding: 20px;
	}
	.burger-nav_menu{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 50px;
	}
	.burger-nav_menu li {
		width: 100%;
		text-align: center;
	}
	.burger-nav_menu a {
		display: inline-block;
		text-transform: uppercase;
		font-size: 24px;
		width: 100%;
		height: 80px;
		line-height: 80px;
		color: var(--bs-card-cap-color);
		width: 100%;
		height: 100%;
	}
	.close {
		color: var(--bs-card-cap-color);
		font-size: 30px;
		position: absolute;
		right: 40px;
		cursor: pointer;
	}

	/* ACTIVE PAGE */
	.active{
		background-color: #3a3f44;
	}
}

/* LOADER */
.loader-container {
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
.loader {
	border: 8px solid #3a3f44;
	border-top: 8px solid #a6a8ab;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	animation: spin 2s linear infinite;
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}