@import url(header.css);

/* ОБНУЛЕННЯ СТИЛІВ */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}

/* ----------------------------------------- */
.content {
	margin: 15px 30px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
}
.content .card {
	text-align: center;
}
.content .card:hover{
	cursor: pointer;
	transform: scale(1.05);
	position: relative;
	z-index: 2;
	transition: transform 0.5s;
	box-shadow: 2px 2px 15px #17191b;
}
.card-header{
	font-size: 1.5em;
}
.number_page {
	display: flex;
	justify-content: flex-end;
	margin: 15px 30px;
	visibility: hidden;
}
.visible{
	visibility: visible;
}
.details {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	display: none;
	border: #17191b;

}
.details .card-header {
	display: flex;
	align-items: center;
	background-color: transparent;
}
.show {
	display: flex;
	justify-content: center;
	align-items: center;
}
.border-info {
	background-color: #3A3F43;
	border: #17191b;
	display: flex;
	flex-direction: row;
	box-shadow: 2px 2px 15px #17191b;
}
.details i{
	position: absolute;
	right: 10px;
	top: 5px;
	font-size: 1.5em;
	cursor: pointer;
	color: var(--bs-card-cap-color);
}
.border-info img {
	width: 300px;
}
.details .card-title {
	margin-top: 50px;
}
ul.card-text li{
	list-style-type: none;
	width: 400px;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	line-height: 40px;
}
ul.card-text li span:first-child {
	color: #17191b;
}

@media screen and (max-width:1000px) {
	.content {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 10px;
	}
	.card-header{
		font-size: 1em;
	}
	.number_page {
		margin: 5px 10px;
	}
	.border-info {
		width: 80%;
	}
	.border-info img {
		width: 200px;
	}
}

@media screen and (max-width:425px) {
	.content {
		grid-template-columns: repeat(1, 1fr);
	}
	.border-info {
		width: 80%;
		flex-direction: column;
		align-items: center;
	}
	.number_page {
		justify-content: center;
		transform: scale(.7);
	}
	.details i{
		position: absolute;
		right: 10px;
		top: 5px;
		font-size: 1.5em;
		cursor: pointer;
		color: var(--bs-card-cap-color);
	}
	.border-info img {
		margin-top: 40px;
		width: 200px;
	}
	.details .card-title {
		margin-top: 20px;
	}
	ul.card-text li{
		width: 200px;
	}
}